.container {
   width: 100%;
   display: flex;
    justify-content: center;
    flex-direction: row;
}

#delete-btn {
    background-color: #42A5F5;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    color: #000000;
    width: auto;
}
