.Dashboard {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    max-height: auto;
    margin: 0;
}


.Sidebar {
    padding: 10px ;
    background-color: aliceblue;
    height: auto;
    width: 200px;
}

.main-content {
    margin: 0;
    width: 90vw;
    background-color: #eeebee;
    color: white;
    height: auto;
}

