.Dashboard {
    display: flex;
    min-height: 100vh;
    max-height: auto;
}

.Sidebar {
    padding: 10px 0px;
    background-color: aliceblue;
    height: auto;
    width: 10vw;
}

.main-content {
    width: 100%;
    background-color: #d3d3d3;
    color: white;
    height: auto;
}

