* {
  color: #000;
}

.contentWrapper {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.announcementForm {
  width: 50vw;
  height: auto;
  border-radius: 10px;
}

::placeholder {
  color: #a7a8a7;
}

.announcementList {
  width: 100%; /* Adjust width to fit the screen */
  margin: 0 auto;
}

.announcementTable {
  width: 100%; /* Ensure the table uses 100% of the available width */
  border-collapse: collapse;
  background-color: white; /* Set table background color to white */
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: scroll;
}

.announcementTable th, .announcementTable td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.AnnounceDescription {
  max-width: 200px;
  overflow-x: auto;
  white-space: nowrap;
}

.announcementTable th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.announcementTable tr:hover {
  background-color: #f9f9f9;
}

.pagination {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: flex-start; /* Align pagination buttons to the left */
}

.pagination button {
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #ddd;
}

.pagination .active {
  background-color: #4CAF50;
  color: white;
}