.Dashboard {
    display: flex;
    height: 100vh;
}

.Sidebar {
    padding: 10px;
    background-color: aliceblue;
    height: auto;
    width: auto;
}

.main-content {
    background-image: url('../images/background.jpg');
    flex-grow: 1;
    background-color: #d3d3d3;
    color: white;
}

