.container {
    padding: 10px 10px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contentContainer {
    border-radius: 5px;
    background-color: #f8f9fa;
    color: black;
    width: 220px;
    text-align: center;
}

.contentContainer h1 {
    font-size: 20px;
}