.Dashboard {
    display: flex;
    height: 100vh;
}

.Sidebar {
    padding: 10px;
    background-color: aliceblue;
    width: 200px;
}

.main-content {
    flex-grow: 1;
    background-color: #d3d3d3;
    color: white;
}

