.login-container {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

form {
    width: 25%;
    padding: 5px;
    height: 54vh;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 5%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    
}

form h1 {
    text-align: center;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-content input {
    width: 95%;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    overflow: hidden;

}

.form-content input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
}

.show-password {
    padding: 2%;
}

.show-password .hint-password {
    height: 15px;
}

.show-password .hint-password:hover {
    cursor: pointer;
}

.show-password .show-label {
    font-size: 13px;
}

.submit-message {
    padding: 2%;
}

.submit-message button{
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    background-color: #7695FF;
    border: none;
}

.submit-message button:hover{
    color: #000;
    background-color: #9DBDFF;
    border: none;
}

.submit-message p {
    font-size: 95%;
}
