.reportBody {
  color: #000;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

.error,
.success {
  font-size: 14px;
  margin-top: 10px;
}

.error {
  color: red;
}

.success {
  color: green;
}

.reportTitle h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input, textarea {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.table-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 70%;
  align-self: flex-start;
  overflow: hidden;
}

.report {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
  word-wrap: break-word;
  word-break: break-word;
  overflow: hidden;
}

.pagination {
  display: flex;
  justify-content: flex-start; /* Align pagination to the left */
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 10px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
}

.pagination button:disabled {
  cursor: not-allowed;
  background-color: #ddd;
}

.pagination span {
  font-size: 18px;
}
