

.title {
    text-align: center;
}

 ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    flex-grow: 1;
}

 ul li {
    padding: 10px;
    margin-top: 5px;

}

ul li span {
    padding: 5px;
}

ul li a {
    text-decoration: none;
    font-size: 100%;
    color: #000;
}

li:hover {
    cursor: pointer;
    background-color: #d3d3d3;
}

.buttons {
    margin-top: auto;
}

.buttonLogout{
    padding: 10px 20px;
    font-size: 15px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #0056b3;
}


