table {
  width: 90%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.Table-container {
  color: black;
  padding: 40px;
  padding-bottom: 50px; /* Add space for the pagination controls */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px; /* Ensures some space between table and pagination */
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.paginationuser {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: black; /* Set pagination text to black */
}

.paginationuser button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #007bff;
  color: black; /* Set pagination text to black */
  border: none;
  border-radius: 3px;
}

.paginationuser button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  color: black; /* Set pagination text to black */
}

.paginationuser span {
  font-size: 14px;
  color: black; /* Set pagination text to black */
}

.newuser-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.NewUser {
  border-radius: 10px;
  width: 50%;
}
.NewUser input {
  padding: 20px 0px;
}

.NewUser .roles {
  padding: 10px;
}
