.login-container {
    background-image: url("/src/images/waste-background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}


.header-name {
    text-align: center;
}

.image-background {
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-position: center;
    z-index: -1; 
    image-rendering: pixelated;
}

form {
    width: 100%;
    height: 42vh;
    backdrop-filter: blur(100px);
    border-radius: 5%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.9);
}

form input {
    padding: 10px;
    font-size: 20px;
}

form h1 {
    text-align: center;
}

.form-content {
    width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



.form-content input {
    width: 95%;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    overflow: hidden;

}

.form-content input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
}

.show-password {
    padding: 2%;
}

.show-password .hint-password {
    height: 15px;
}

.show-password .hint-password:hover {
    cursor: pointer;
    
}

.show-password label {
    font-size: 13px;
    color: #000;
}

.submit-message {
    padding: 2%;
}

.submit-message button{
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    background-color: #7695FF;
    border: none;
    font-weight: bold;
    color: #000;
    font-size: 15px;
}

.submit-message button:hover{
    color: #000;
    background-color: #9DBDFF;
    border: none;
}

.submit-message p {
    font-size: 95%;
}

